#parent{
    height: 100px;
    border: solid 8px black;
    background-color: black;
    /* justify-content: ; */
}
.one{
    background-color;
    justify-content: baseline;
}
#two{
    background-color: red;
}
#three{
    background-color: white;
}
#four{
    color: white;
    background-color: rgb(243, 50, 50);
}